// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans&display=swap');

html * {
    font-family: 'Sans', serif;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
}

$bg-color: rgba(46, 61, 73, 0.2);

@import 
    "utility/index",
    "./components/index",
    "./pages/home"