@import "grid/index";

input {
    padding: 8px 16px;
    border-radius: 5px 0px 0px;
    border: none;
    border-bottom: 1px solid;

    &:focus {
        border: none;
        border-bottom: 2px solid;
        outline: none;
    }
}

select {
    padding: 8px 16px;
    border-radius: 5px 0px 0px;
    border: none;
    border-bottom: 1px solid;
    background: #fff;

    &:focus {
        border: none;
        border-bottom: 2px solid;
        outline: none;
        background: #fff;
    }

    option {
        padding: 8px 16px;
    }
}