.top-bar {
    display: inline-flex;
    width: 100%;
    height: 80px;
    box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1000;

    .top-bar-container {
        display: inline-flex;
        margin: auto;
        width: 90%;
        justify-content: space-between;
    }
    
    .logo {
        width: 150px;
    }

    .search-input {
        padding: 13px 0;
        display: flex;
        .search-btn {
            background-color: #fff;
            border: none;
            outline: none;
            cursor: pointer;

            &:focus {
                outline: none;
                border: none;
                background-color: #fff;
            }
        }
        .select-wrap {
            width: 80px;
            margin-left: 10px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .top-bar {
        .logo {
            display: none;
        }
        .search-input {
            width: 100%;
        }
    }
}