.home-wrapper {
    .weather-banner {
        min-height: 300px;
        padding: 20px;
        vertical-align: middle;
        display: flex;
        backdrop-filter: brightness(0.9);
        // background-image: url("../../images/banner.jpg");

        .weather-cloud {
            margin: auto;
            width: fit-content;
            position: relative;
            img {
                width: 300px;
            }
        }

        .weather-details {
            display: grid;
            width: fit-content;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-25%);

            .detail {
                padding: 5px 0;
                padding-right: 5px;
                color: #fff;
                backdrop-filter: drop-shadow(52px 3px 40px rgba(46, 61, 73, 0.2));
                display: inline-grid;
                border-radius: 5px;
            }
        }
    }
    .card-wrapper {
        box-shadow: 0 -8px 22px 0 rgba(46, 61, 73, 0.2);
    }
}

.card {
    box-shadow: 0 1px 5px 0 rgba(46, 61, 73, 0.2);
    // padding: 20px;
    transition: all 0.5s ease;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;

    .card-header {
        font-size: 14px;
        // border-bottom: 1px solid gray;
        // font-family: "Merriweather";
        padding: 5px 5px;
        padding-bottom: 10px;
        line-height: 1.5;
        height: 100px;
        overflow: hidden;
    }

    .card-body {
        // padding-top: 20px;
        font-size: 12px;
    }
    .image-wrapper {
        margin: 0;
        width: 100%;
        height: 170px;
        position: relative;
        overflow: hidden;
        p {
            font-size: 12px;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: justify;
            padding: 0 5px;
            margin: 0;
            padding-bottom: 10px;
            padding-top: 7px;
            color: #fff;
            background: rgba(46, 61, 73, 0.4);
            text-align: justify;
        }
    }

    .card-image {
        width: 100%;
        border-radius: 5px 5px 0 0;
        height: 170px;
        object-fit: cover;
        transition: all 0.5s ease;
    }

    &:hover {
        box-shadow: 0px 2px 15px 1px rgba(46, 61, 73, 0.2);
        .card-image {
            transform: scale(1.05);
        }
    }
}
